*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 50%;
    height: 400px;
    margin: 150px auto;
    background: #fff;
}

section form{
    text-align: center;
    padding: 20px;
}

section form h2{
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section form .input_fild{
    position: relative;
    margin: 10px 0px;
}

section form .input_fild label{
    display: inline;

}


section form .input_fild input[type=text] , section form .input_fild input[type=email] , section form .input_fild input[type=password]{
    padding: 8px 20px;
    outline: none;
    border: 2px solid #444;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
}

::placeholder{
    text-transform: capitalize;
}


section form .input_fild input:focus{
    border: 2px solid rgb(95, 198, 233);
}

section form .input_btn input{
    margin: 0px 10px;
    border: 2px solid #111;
    background: #fff;
    box-shadow: 3px 3px #111;
    padding: 8px 20px;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
}

section form .input_btn input:hover{
    background: #111;
    color: #fff;
    box-shadow: none;
}

section form .input_btn input:nth-child(2){
    background: #111;
    color: #fff;
    box-shadow: none;
}

section form .input_btn input:nth-child(2):hover{
    background: #fff;
    color: #111;
    box-shadow: 4px 4px #111;
}