*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
    color: #fff;
}

header{
    background: #111;
    padding: 15px 10px;
}

header ul li{
    list-style: none;
}

header ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

header ul li a:hover{
    background: green;
    color: #fff;
    padding: 8px 25px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.2s ease;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header .logo i{
    font-size: 20px;
    padding-left: 160px;
    top: 20px;
    color: #fff;
}

section{
    padding: 25px 0px;
}

/* Q-1 start */

section .container .row .title h2{
    text-align: center;
    padding-top: 15px;
}

section .container .row .q_1 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

section .container .row .ans span:nth-child(1){
    display: block;
    font-size: 24px;
    font-weight: 300;
}

section .container .row .ans span:nth-child(2){
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding-left: 40px;
}

section .container .row .ans span:nth-child(3){
    padding-left: 40px;
}

section .container .row .ans .ans_p {
    padding-left: 40px;
}

section .container .row .q_and_ans{
    padding: 20px;
    background: rgba(87, 210, 87, 0.364);
}

/* Q-1 end  */

/* Q-2 start */

section .container .row .q_and_ans span:nth-child(1){
    display: block;
    font-size: 24px;
    font-weight: 300;
}

section .container .row .q_2 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

section .container .row .q_and_ans span:nth-child(2){
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding-left: 40px;
}

section .container .row .q_and_ans .ans_p {
    padding-left: 40px;
}

/* Q-2 end  */


/* Q-2 start */

section .container .row .q_3 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

section .container .row .q_and_ans .ans_p {
    line-height: 30px;
}

/* Q-3 end */

/* Q-4 start */

section .container .row .q_4 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

section .container .row .q_and_ans .ans_p span{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.8px;
}

section .container .row .q_and_ans span{
    padding-top: 5px;
}

/* Q-4 end */

/* Q-5 start */

section .container .row .q_5 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-5 end */

/* Q-6 sart */

section .container .row .q_6 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-6 end */

/* Q-7 start */

section .container .row .q_7 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-7 end */

/* Q-8 start */

section .container .row .q_8 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-8 end */


/* Q-9 start */

section .container .row .q_9 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-9 end */

/* Q-10 start */

section .container .row .q_10 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

section .container .row .ans_p .example_ans p button{
    background-color: #ff9900;
    color: #fff;
    padding: 7px 20px;
    border: none;
}

section .container .row .ans_p .example_ans p button:hover{
    background-color: #cc7a00;
}

/* Q-10 end */


/* Q-11 start */

section .container .row .q_11 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-11 end */


/* Q-12 start */

section .container .row .q_12 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Q-12 end */

/* Q-13 start */
section .container .row .q_13 h3, section .container .row .q_14 h3 , section .container .row .q_15 h3 ,
section .container .row .q_16 h3 ,  section .container .row .q_17 h3 , section .container .row .q_18 h3 , 
section .container .row .q_19 h3{
    padding-top: 30px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Style the header */
.header {
    background-color: #111;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

/* Q-13 end */